/*CÃƒÆ’Ã‚Â³digo armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/fondodbz.jpg);
  padding-left: 30px;
}
ul {
  padding-left: 0;
  list-style: none;
  font-family: cursive;
  color: slategray;
  font-size: 16px;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "- ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 15px;
  color: #000;
  width: 300px;
}

.col-60 {
  background: #E84A5F;
  width: 550px;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego{
  width: 600px;
  height: 600px;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

.piezas{
  width: 33.3%;
  height: 33.3%;
  box-sizing: border-box;
  border: 2px solid #E84A5F;
  float: left;
}

.piezas > img {
  width: 100%;
  height: 100%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#objetivo .texto-centrado img {
  width: 200px;
  margin-top: 20px;
}

#ultimo-mov #flecha{
  width: 100px;
  height: 60px;
  color: #E84A5F;
  margin: auto;
}

#ultimo-mov > p{
  text-align: center;
  color: slategray;
  font-family: cursive;
  margin: 20px 0px -6px 0px;
}

#titulo h2 {
    letter-spacing: 10px;
    text-shadow: 0 0 30px red;
    text-align: center;
}